################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XpackHackathon/.vs/XpackHackathon
/XpackHackathon/XpackHackathon/obj
